/*-----------------------------Banner Styles-----------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
    }

.banner{
   padding: 0 0 134px 0;
   background: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
}
.banner_title{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 25px;
    padding-top: 200px;
    
}
.banner_description{
    font-size: 20px;
    line-height: 1.5;
}
.btn_primari{
   margin-top: 20px;
   padding: 20px 25px;
   text-align: center;
   border-radius: 12px;
   background-color: #FD7A00;
   font-size: 30px;
   color: white;
}
/*------------------------- My failures of previous year------------------------------*/
.my_failures{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.failures_title{
    font-size: 40px;
    
}
.failure_description{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #484646;
    line-height: 21.2pxpx;
}
 li{
    list-style-type: circle;
    color: #484646;
    font-size: 20px;
    line-height: 2;
}


/*-----------------------------------Extra Section------------------------------------*/
.extra{
    background: url(images/extra1.jpeg);
    background-repeat: no-repeat;
    padding-top: 170px;
    
    background-position: center;
    padding-bottom: 100px;
    text-align: center;
    background: #8937c3;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(74, 143, 240, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(39, 54, 196, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}
.extra_heading{
    color: white;
    font-size: 50px;
}
.extra_heading span{
    color: #FD7A00;
}
.extra_description{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.extra-btn{
    background-color: #FD7A00;
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}


/*-----------------------------------My Plan Styles------------------------------------*/

.my_plan{
   padding-top: 120px;
   margin-bottom: 100px;
   
}

.plan_title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}
.skill{
    text-align: center;
}
.skill_contianer{
    display: flex;
    justify-content: center;
    gap: 50px;
        
}
.skill_title{
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}
.skill_description{
    color: #757575;
    font-size: 22px;
    text-align: center;
}

/* ---------------------------Positive Mindset---------------------------- */
.mindset{
    background: url(images/watch.png);
    padding-top: 100px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}
.mindset_title{
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
    margin-left: 50px;
}
.mindset_btn{
    padding: 15px 40px;
    color: #FD7A00;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 50px;
    border: none;
}
/* ---------------------Footer Styles----------------------------- */
.footer{
    display: flex;
    justify-content: center;
    gap:200px;
    color: white;
    background: black;
    padding-top: 100px;
    margin-top: 100px;
}
.footer_left h1{
    font-size:50px ;
}
.footer_left h1{
    font-size:50px ;
    
}
.footer_left .footer_description{
    font-size: 16px;
}
.footer h6{
    font-size: 16px;
    padding-top: 10px;
    
}
.i_con{
    margin-top: 20px;
}
.footer_left .footer_description img{
    padding-top: 10px;
    font-size: 15px;
}
.footer_right h3{
    font-size: 30px;
}
input[type=text]{
  width: 100%;
  padding: 12px 25px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(221, 218, 218);
  border-radius: 4px;
  box-sizing: border-box;
  background: black;
  color: white;
}

input[type=submit]{
    background-color: #FD7A00;
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}


   

